.Hoax {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 50%;
    box-shadow: 0 2px 2px #ccc;
    width: 50px;
    height: 50px;
    padding: 20px;
    background: aqua;
}
.click{
    background: cornflowerblue;
    border: 1px solid cornflowerblue;
    font-size: 30px;
    width: 100px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 3px;
}